<template>
  <div>
    <LoanRequestForm/>
  </div>
</template>

<script>
// @ is an alias to /src
import LoanRequestForm from '@/components/LoanRequestForm.vue'

export default {
  name: 'Home',
  components: {
    LoanRequestForm
  }
}
</script>
