<template>
    <div>
        <Login v-if="!isAuthenticated"></Login>
        <LoanRequests v-if="isAuthenticated"></LoanRequests>
    </div>
</template>

<script>
import LoanRequests from "@/components/LoanRequests";
import Login from "@/components/Login";
export default {
    name: "LoanRequestsAdmin",
    components: {
        LoanRequests,
        Login,
    },
    computed: {
        isAuthenticated() {
            return this.$store.state.isAuthenticated;
        },
    },
};
</script>
