<template>
    <tr>
        <td>
            {{ id }}
        </td>
        <td>
            {{ first_name }}
        </td>
        <td>
            {{ last_name }}
        </td>
        <td>
            {{ id_number }}
        </td>
        <td>
            {{ email }}
        </td>
        <td v-if="gender == 'M'">
            Masculino
        </td>
        <td v-else>
            Femenino
        </td>
        <td>
            {{ requested_amount }}
        </td>
        <td v-if="pre_score == 'A'">
            Aprobado
        </td>
        <td v-else>
            Rechazado
        </td>
        <td>
            <input
                class="btn"
                type="button"
                value="Editar"
                @click="$emit('editLoanRequest')"
            />
        </td>
        <td>
            <input
                class="btn-delete"
                type="button"
                value="Eliminar"
                @click="$emit('deleteLoanRequest')"
            />
        </td>
    </tr>
</template>

<script>
export default {
    name: 'LoanRequest',
    props: [
        'id',
        'first_name',
        'last_name',
        'id_number',
        'gender',
        'requested_amount',
        'email',
        'pre_score'
    ]
}
</script>

<style lang="css" scoped>
.btn {
    background: #42b983;
    color: #ffffff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}
.btn-delete {
    background: #d43939;
    color: #ffffff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
}
</style>