<template>
    <div class="admin">
        <h1>Solicitudes de préstamos</h1>
        <input
            type="search"
            placeholder="Filtrar por DNI"
            v-model="filterLoanRequests"
        />
        <table>
            <LoanRequest
                v-for="(loanRequest, $index) in filteredLoanRequests"
                :key="loanRequest.id"
                :id="loanRequest.id"
                :first_name="loanRequest.first_name"
                :last_name="loanRequest.last_name"
                :id_number="loanRequest.id_number"
                :gender="loanRequest.gender"
                :requested_amount="loanRequest.requested_amount"
                :email="loanRequest.email"
                :pre_score="loanRequest.pre_score"
                @deleteLoanRequest="deleteLoanRequest($index)"
                @editLoanRequest="editLoanRequest($index)"
            />
        </table>
        <ModalForm ref="modalForm">
            <template v-slot:header>
                <h2>Editar</h2>
            </template>

            <template v-slot:body>
                <form>
                    <input
                        type="text"
                        v-model="editableLoanRequest.first_name"
                        placeholder="Nombre"
                    />
                    <input
                        type="text"
                        v-model="editableLoanRequest.last_name"
                        placeholder="Apellido"
                    />
                    <input
                        type="number"
                        v-model="editableLoanRequest.id_number"
                        placeholder="DNI"
                    />
                    <input
                        type="email"
                        v-model="editableLoanRequest.email"
                        placeholder="Email"
                    />
                    <div class="radio-group">
                        <input
                            class="radio-inp"
                            type="radio"
                            value="M"
                            v-model="editableLoanRequest.gender"
                        /><label>Masculino</label>
                        <input
                            class="radio-inp"
                            type="radio"
                            value="F"
                            v-model="editableLoanRequest.gender"
                        /><label>Femenino</label>
                    </div>
                    <input
                        type="number"
                        v-model="editableLoanRequest.requested_amount"
                        placeholder="Monto solicitado"
                    />
                    <div class="radio-group">
                        <input
                            class="radio-inp"
                            type="radio"
                            value="A"
                            v-model="editableLoanRequest.pre_score"
                        /><label>Aprobado</label>
                        <input
                            class="radio-inp"
                            type="radio"
                            value="R"
                            v-model="editableLoanRequest.pre_score"
                        /><label>Rechazado</label>
                    </div>
                    <p class="error" v-show="show_error">{{ error_message }}</p>
                </form>
            </template>

            <template v-slot:footer>
                <div class="btn-group">
                    <button
                        class="btn-cancel"
                        @click="$refs.modalForm.closeModal()"
                    >
                        Cancelar
                    </button>
                    <button class="btn-save" @click="saveLoanRequest()">
                        Guardar
                    </button>
                </div>
            </template>
        </ModalForm>
    </div>
</template>

<script>
import axios from "axios";
import LoanRequest from "@/components/LoanRequest";
import ModalForm from "@/components/ModalForm";
export default {
    name: "LoanRequests",
    created() {
        axios
            .get("http://0.0.0.0:8000/loan/loan-request-admin/", {
                headers: this.jwtTokenHeader,
            })
            .then((res) => (this.loanRequests = res.data))
            .catch((error) => console.log(error));
    },
    data() {
        return {
            loanRequests: [],
            filterLoanRequests: "",
            editableLoanRequest: {},
            processing: false,
            processed: false,
            error_message: "",
            show_error: false,
        };
    },
    methods: {
        editLoanRequest(index) {
            axios
                .get(
                    "http://0.0.0.0:8000/loan/loan-request-admin/".concat(
                        this.loanRequests[index].id
                    ) + "/",
                    {
                        headers: this.jwtTokenHeader,
                    }
                )
                .then((res) => {
                    this.editableLoanRequest = res.data;
                    this.$refs.modalForm.openModal();
                })
                .catch((error) => console.log(error));
        },
        validEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        saveLoanRequest() {
            const null_values = Object.values(this.editableLoanRequest).some(
                (d) => {
                    return d === null;
                }
            );
            if (null_values) {
                this.show_error = true;
                this.error_message = "Se deben completar todos los campos.";
            } else if (!this.validEmail(this.editableLoanRequest.email)) {
                this.show_error = true;
                this.error_message = "Ingrese un email válido.";
            } else {
                this.show_error = false;
                this.error_message = "";
                this.processing = true;
                axios
                    .patch(
                        "http://0.0.0.0:8000/loan/loan-request-admin/".concat(
                            this.editableLoanRequest.id
                        ) + "/",
                        this.editableLoanRequest,
                        {
                            headers: this.jwtTokenHeader,
                        }
                    )
                    .then((res) => {
                        const findId = (element) => element.id == res.data.id;
                        const index = this.loanRequests.findIndex(findId);
                        this.loanRequests.splice(index, 1, res.data);
                        this.$refs.modalForm.closeModal();
                    })
                    .catch((error) => {
                        console.log(error);
                        this.error_message =
                            "No se pudo procesar la solicitud.";
                        this.show_error = true;
                    })
                    .finally(() => (this.processing = false));
            }
        },
        deleteLoanRequest(index) {
            const loanRequest = this.loanRequests[index];
            axios
                .delete(
                    "http://0.0.0.0:8000/loan/loan-request-admin/".concat(
                        loanRequest.id
                    ),
                    {
                        headers: this.jwtTokenHeader,
                    }
                )
                .then(() => this.loanRequests.splice(index, 1))
                .catch((error) => console.log(error));
        },
    },
    computed: {
        filteredLoanRequests() {
            return this.loanRequests.filter((loanRequest) => {
                return loanRequest.id_number
                    .toString()
                    .includes(this.filterLoanRequests);
            });
        },
        jwtTokenHeader() {
            return { Authorization: "JWT " + this.$store.state.jwt };
        },
    },
    components: {
        LoanRequest,
        ModalForm,
    },
};
</script>

<style lang="css" scoped>
input {
    margin: 20px;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
.admin {
    text-align: center;
}
.btn-save {
    background: #42b983;
    color: #ffffff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    float: right;
}
.btn-cancel {
    background: #667970;
    color: #ffffff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    float: left;
}
.btn-group {
    display: block;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin: 20px;
    width: 450px;
}
label {
    display: flex;
    align-items: center;
}
.radio-group {
    display: flex;
    flex-direction: row;
    max-width: 450px;
}
.radio-inp {
    width: 20px !important;
}
</style>
