<template>
    <div>
        <div v-if="!processed">
            <h1>Solicitar prestamo</h1>
            <form>
                <input type="text" v-model="first_name" placeholder="Nombre" />
                <input type="text" v-model="last_name" placeholder="Apellido" />
                <input type="number" v-model="id_number" placeholder="DNI" />
                <input type="email" v-model="email" placeholder="Email" />
                <div class="radio-group">
                    <input
                        class="radio-inp"
                        type="radio"
                        value="M"
                        v-model="gender"
                    /><label>Masculino</label>
                    <input
                        class="radio-inp"
                        type="radio"
                        value="F"
                        v-model="gender"
                    /><label>Femenino</label>
                </div>
                <input
                    type="number"
                    v-model="requested_amount"
                    placeholder="Monto solicitado"
                />
                <p class="error" v-show="show_error">{{ error_message }}</p>
                <input
                    type="button"
                    class="btn"
                    value="Enviar"
                    :disabled="processing == true"
                    @click="sendForm"
                >
                <br>
                <i class="fa fa-refresh fa-spin" v-show="processing"/>
            </form>
        </div>
        <div v-else>
            <h1 v-if="approved">Tu solicitud de préstamo fue aprobada.</h1>
            <h1 v-else>Tu solicitud de préstamo fue rechazada.</h1>
            <input type="button" class="btn" value="Volver" @click="showForm" />
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "LoanRequestForm",
    data() {
        return {
            first_name: null,
            last_name: null,
            id_number: null,
            email: null,
            gender: null,
            requested_amount: null,
            error_message: "",
            show_error: false,
            approved: null,
            processing: false,
            processed: false,
        };
    },
    methods: {
        showForm() {
            this.processed = false;
            this.approved = null;
            this.first_name = null;
            this.last_name = null;
            this.id_number = null;
            this.email = null;
            this.gender = null;
            this.requested_amount = null;
            this.error_message = "";
            this.show_error = false;
        },
        validEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        sendForm() {
            const data = {
                first_name: this.first_name,
                last_name: this.last_name,
                id_number: this.id_number,
                email: this.email,
                gender: this.gender,
                requested_amount: this.requested_amount,
            };
            const null_values = Object.values(data).some((d) => {
                return d === null;
            });
            if (null_values) {
                this.show_error = true;
                this.error_message = "Se deben completar todos los campos.";
            } else if (!this.validEmail(data.email)) {
                this.show_error = true;
                this.error_message = "Ingrese un email válido.";
            } else {
                this.show_error = false;
                this.error_message = "";
                this.processing = true;
                axios
                    .post("http://0.0.0.0:8000/loan/loan-request/", data)
                    .then((res) => {
                        const pre_score = res.data.pre_score;
                        switch (pre_score) {
                            case "A":
                                this.processed = true;
                                this.approved = true;
                                break;
                            case "R":
                                this.processed = true;
                                this.approved = false;
                                break;
                            default:
                                this.error_message =
                                    "No se pudo procesar la solicitud.";
                                this.show_error = true;
                                break;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                        this.error_message =
                            "No se pudo procesar la solicitud.";
                        this.show_error = true;
                    })
                    .finally(() => this.processing = false);
            }
        },
    },
};
</script>

<style lang="css" scoped>
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin: 20px;
    width: 450px;
}
label {
    display: flex;
    align-items: center;
}
.radio-group {
    display: flex;
    flex-direction: row;
    max-width: 450px;
}
.radio-inp {
    width: 20px !important;
}
.btn {
    background: #42b983;
    color: #ffffff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 450px;
}
</style>
