<template>
    <form class="form-login">
        <input
            class="input-login"
            v-model="username"
            type="text"
            placeholder="Username"
            autofocus="autofocus"
            maxlength="150"
        />
        <input
            class="input-login"
            v-model="password"
            type="password"
            placeholder="Password"
        />
        <button
            @click.prevent="authenticate"
            class="btn-login"
            type="submit"
        >
            Log In
        </button>
    </form>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            username: "",
            password: "",
        };
    },
    methods: {
        authenticate() {
            const payload = {
                username: this.username,
                password: this.password,
            };
            axios
                .post(this.$store.state.endpoints.obtainJWT, payload)
                .then((response) => {
                    this.$store.commit("updateToken", response.data.token);
                    // get and set auth user
                    const base = {
                        baseURL: this.$store.state.endpoints.baseUrl,
                        headers: {
                            // Set your Authorization to 'JWT', not Bearer!!!
                            Authorization: `JWT ${this.$store.state.jwt}`,
                            "Content-Type": "application/json",
                        },
                        xhrFields: {
                            withCredentials: true,
                        },
                    };
                    // Even though the authentication returned a user object that can be
                    // decoded, we fetch it again. This way we aren't super dependant on
                    // JWT and can plug in something else.
                    const axiosInstance = axios.create(base);
                    axiosInstance({
                        url: "/user/",
                        method: "get",
                        params: {},
                    }).then((response) => {
                        this.$store.commit("setAuthUser", {
                            authUser: response.data[0],
                            isAuthenticated: true,
                        });
                        // this.$router.push({ name: "Home" });
                    });
                })
                .catch((error) => {
                    console.log(error);
                    console.debug(error);
                    console.dir(error);
                });
        },
    },
};
</script>

<style lang="css">
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-login {
    margin: 20px;
    width: 450px;
}
.btn-login {
    background: #42b983;
    color: #ffffff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}
</style>
